@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Revolution&display=swap');

.homeMain {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.introP {
    font-size: 2rem;
    margin: 0;
}

.part2Container {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro2H2 {
    font-size: 2.5rem;
    font-family: "Protest Revolution", sans-serif;
}

.introP {
    margin: 10px 0;
    font-size: 20px;
    font-family: "Kanit", sans-serif;
    color: rgb(124, 124, 124);
}

.introLink {
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin: 0 5px;
    font-size: 20px;
}
