.introContainer {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Protest Revolution", sans-serif;
}

.introImgContainer {
    width: 100%;
}

.introImg {
    width: 100%;
}

.introDetailsContainer {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    width: 80%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.introH1 {
    font-size: 3rem;
    margin: 5px 0;
}

.introh3 {
    font-size: 18px;
    margin: 5px 0;
}

.introSub {
    font-size: 1.5rem;
}